<a href="https://colab.research.google.com/github/vandan9339/2nd-Assignment/blob/main/Data_structure_advance_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***1. Write a code to reverse string.***

In [ ]:
a = "Hello"
a = a[::-1]

In [ ]:
a

'olleH'

Here we have reversed the string

***2. Write a code to count the number of vowel in a string.***

In [ ]:
a = "My name is vandan"
count = 0
for i in a:
    if i in "aeiou":
        count = count + 1

In [ ]:
print(count)

5

*** 3. Write a code to check if a given string is palindrome or not.***

In [ ]:
a = "vandan"
if a == a[::-1]:
    print("palindrome")
else:
    print("not palindrome")

not palindrome

In [ ]:
a = "malayalam"
if a == a[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

***4. Write a code to check if two given strings are anagrams too each other.***

In [ ]:
a = "Your mother is beautiful"
b = "Your mom is beautiful"
if sorted(a) == sorted(b):
    print("anagram")
else:
    print("not anagram")

not anagram

In [ ]:
a = "silent"
b = "listen"
if sorted(a) == sorted(b):
    print("anagram")
else:
    print("not anagram")

anagram

***5. Write a code to find all occurrences Of a given substring within a string.***

In [ ]:
a = "My name is vandan"
b = "name"
a.count(b)

1

In [ ]:
a = "My name is vandan"
b = "n"
a.count(b)

3

***6. Write a code perform basic string compression using the count of repeated character.***

In [ ]:
strval = input("enter your string value:-")
ch = strval[0]
result = ""
count = 0
strval = strval + ""
for x in strval:
    if x == ch:
        count += 1
    else:
        result = result + str(count) + str(ch)
        ch = x
        count = 1
print(result)

enter your string value:-aaabbbaaabbbbaaabbba
3a3b3a4b3a3b

***7. Write a code to determine if a string has all unique character.***

In [ ]:
a = input("enter your string:-")
if len(set(a)) == len(a):
    print("unique")
else:
    print("not unique")

enter your string:-vandan
not unique

In [ ]:
a = input("enter your string:-")
if len(set(a)) == len(a):
    print("unique")
else:
    print("not unique")

enter your string:- Mahi
unique

***8. Write a code to a given string to lowercase and uppercase.***

In [ ]:
s = "My Name Is Vandan"
s.lower()

'my name is vandan'

In [ ]:
s = "My Name Is Vandan"
s.upper()

'MY NAME IS VANDAN'

***9. Write a code to count the number of words in a string.***

In [ ]:
s = "My Name Is Vandan"
len(s.split())

4

***10. Write code to concatenate two strings without using  + operator.***

In [ ]:
a = "My"
b = "Name"
c = "".join([a,b])
c

'MyName'

In [ ]:
a = "My"
b = "Name"
c = f"{a}{b}"
c

'MyName'

***11. Write a code to remove the occurances of a specific element in the list.***

In [ ]:
from os import remove
list1 = [1,2,3,4,5,6,7,8,9,1,2,2,2,2,2,4,2,4,2]
remove_element = 2
list1 = [x for x in list1 if x != remove_element]
print(list1)

[1, 3, 4, 5, 6, 7, 8, 9, 1, 4, 4]

***12. Implement a code to find the second largest number in a given list of numbers.***

In [ ]:
a = [12, 11, 56, 88 ,1 , 25, 55 ]
a.sort()
a[-2]

56

***13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.***

In [ ]:
my_list = ["vandan", "vandan", 1, 55, 12 , 55 , "vandan", "aman", "ajay", 1, 55, 12 , 55 ]
count_dict = {}
for item in my_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1
print(count_dict)

{'vandan': 3, 1: 2, 55: 4, 12: 2, 'aman': 1, 'ajay': 1}

***14. Write a code to reverse a list in-place without using any built in reverse function.***

In [ ]:
a = [1,2,3,4,5]
start = 0
end = len(a) - 1
while start < end:
    a[start], a[end] = a[end], a[start]
    start += 1
    end -= 1
print(a)

[5, 4, 3, 2, 1]

***15. Implement a code to find and remove all duplicate from a list while preserving thier order.***

In [ ]:
list_a = ["vandan", "vandan", 1, 55, 12 , 55 , "vandan", "aman", "ajay", 1, 55, 12 , 55 ]
unique_list = []
for item in list_a:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

['vandan', 1, 55, 12, 'aman', 'ajay']

***16. Create a code to check the list is sorted(Either in ascending or descending order) or not.***

In [ ]:
my_list = [1, 2, 3, 4, 5]
is_ascending = all(my_list[i] <= my_list[i + 1] for i in range(len(my_list) - 1))

is_descending = all(my_list[i] >= my_list[i + 1] for i in range(len(my_list) - 1))

if is_ascending:
    print("List is sorted in ascending order")
elif is_descending:
    print("List is sorted in descending order")
else:
    print("List is not sorted")

List is sorted in ascending order

***17 Create a code to merge two Sorted list in one sorted list.***

In [ ]:
a = [1,5,2,4,3]
b = [6,8,9,10,7]
c = sorted(a + b)
c.sort()
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

***18. Implement a code to find the interaction of two given lists.***

In [ ]:
a = [1,2,3,4,5]
b = [2,3,4,5,6]
c = [x for x in a if x in b]
c

[2, 3, 4, 5]

***19.Create a code to find the union of two given list***

In [ ]:
a = [1,2,3,4,5]
b = [2,3,4,5,6]
c = set(a + b)
c

{1, 2, 3, 4, 5, 6}

***20.Write a code shuffle a given list without using a in built shuffle function.***

In [ ]:
a = [1,2,3,4,5]
a[4] , a[2]  = a[2] , a[4]
a

[1, 2, 5, 4, 3]

***21. Write a code tha takes two tuples as input and returns a new tuple containing elemants that are common to both input tuples.***

In [ ]:
tuple1_str = input("Enter tuple 1 (comma-separated values within parentheses): ")
tuple2_str = input("Enter tuple 2 (comma-separated values within parentheses): ")

# Convert input strings to tuples
tuple1 = tuple()

Enter tuple 1 (comma-separated values within parentheses): ( "vandan" , 45 , 56)

***22. create a code that prompts the user to enter two sets of integers separated by commas, then print the intersection of these two sets***

In [1]:
set1 = input("Enter the first set of integers (separated by commas): ")
set2 = input("Enter the second set of integers (separated by commas): ")

set1 = {int(x) for x in set1.split(',')}
set2 = {int(x) for x in set2.split(',')}

intersection = set1 & set2

print("Intersection:", intersection)

Enter the first set of integers (separated by commas): 1, 2, 3, 4, 5
Enter the second set of integers (separated by commas): 1, 2, 4, 7, 7, 9
Intersection: {1, 2, 4}

***23. Write a code to concatenate two tuples. The function should take two tuples as input and return new tuple containing elemants from both input tuples.***

In [2]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6)

***24. Develop a code that prompts the user to input two sets of strings. Then, print the elemants that are present in the first set but not in the second set.***

In [4]:
set1 = input("Enter the first set of strings (separated by commas): ")
set2 = input("Enter the second set of strings (separated by commas): ")

set1 = {x.strip() for x in set1.split(',')}
set2 = {x.strip() for x in set2.split(',')}

difference = set1 - set2

print(difference)

Enter the first set of strings (separated by commas): "vandan","sheetal","Nandani"
Enter the second set of strings (separated by commas): "gaurav", "sheetal", "Nandini"
{'"vandan"', '"Nandani"'}

***25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.***

In [8]:
def get_subtuple(tup, start, end):
    return tup[start:end+1]

tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start = 3
end = 6
print(get_subtuple(tup, start, end))

(4, 5, 6, 7)

***26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.***

In [1]:
set1 = input("Enter the first set of characters (separated by commas): ")
set2 = input("Enter the second set of characters (separated by commas): ")

set1 = {x.strip() for x in set1.split(',')}
set2 = {x.strip() for x in set2.split(',')}

union = set1 | set2

print(union)

Enter the first set of characters (separated by commas): "vandan",2,1,3,4,5,"naveen"
Enter the second set of characters (separated by commas): "vandan",7,8,9,10
{'9', '5', '4', '3', '7', '10', '1', '"naveen"', '2', '8', '"vandan"'}

***27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking***

In [2]:
def find_max_min(tup):
    return max(tup), min(tup)

tup = (1, 2, 3, 4, 5)
max_val, min_val = find_max_min(tup)
print(f"Maximum value: {max_val}")
print(f"Minimum value: {min_val}")

Maximum value: 5
Minimum value: 1

***28. Create a code that defines two of integers. Then, print the union, intersection and difference of these two sets.***

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Union:", set1 | set2)

print("Intersection:", set1 & set2)

print("Difference (set1 - set2):", set1 - set2)

print("Difference (set2 - set1):", set2 - set1)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

***29. Write a code that takes a tuple and a element as input. The function should return the count of occurrences of the given element in the tuple.***

In [4]:
def count_occurrences(tup, elem):
    return tup.count(elem)

tup = (1, 2, 2, 3, 2, 4, 2, 5)
elem = 2
print(f"Count of {elem} in the tuple: {count_occurrences(tup, elem)}")

Count of 2 in the tuple: 4

***30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.***

In [10]:
set1 = input("Enter the first set of strings (separated by commas): ")
set2 = input("Enter the second set of strings (separated by commas): ")

set1 = {x.strip() for x in set1.split(',')}
set2 = {x.strip() for x in set2.split(',')}

symmetric_difference = set1 ^ set2

print(str(symmetric_difference))

Enter the first set of strings (separated by commas): "vandan","bhanuj"
Enter the second set of strings (separated by commas): "vandan","namrata"
{'"namrata"', '"bhanuj"'}

***31. Write a code that takes a list of words as input and return a dictionary where the keys are the unique words and the values are the frequencies of those words in the input list***

In [14]:
def word_frequencies(word_list):
    return {word: word_list.count(word) for word in set(word_list)}

word_list = ["apple", "banana", "apple", "orange", "banana", "banana"]
print(word_frequencies(word_list))

{'banana': 3, 'apple': 2, 'orange': 1}

***32. Write A code that takes 2 dictionaries as input and Marges them into a single dictionary if there are common keys the value should be added together.***

In [13]:
def merge_dicts(dict1, dict2):
    merged_dict = {}
    for key in set(list(dict1.keys()) + list(dict2.keys())):
        merged_dict[key] = dict1.get(key, 0) + dict2.get(key, 0)
    return merged_dict

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
print(merge_dicts(dict1, dict2))

{'a': 1, 'c': 7, 'b': 5, 'd': 5}

***33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the key do not exist in the dictionary, the function should return none***

In [20]:
def access_nested_dict(nested_dict, keys):
    current_dict = nested_dict
    for key in keys:
        if key in current_dict:
            current_dict = current_dict[key]
        else:
            return None
    return current_dict


nested_dict = {
    'a': {
        'b': {
            'c': 'vandan'

        }
    }
}
keys = ['a', 'b', 'c']
print(access_nested_dict(nested_dict, keys))

keys = ['a', 'b', 'd']
print(access_nested_dict(nested_dict, keys))

vandan
None

***34. Write a code that takes a dictionary as input and written as sorted version of it based on the values. You can choose whether to sort in ascending order or descending order.***

In [21]:
def sort_dict_by_values(input_dict):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1]))
    return sorted_dict

input_dict = {'a': 3, 'b': 1, 'c': 2, 'd': 4}
print(sort_dict_by_values(input_dict))

{'b': 1, 'c': 2, 'a': 3, 'd': 4}

***35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.***

In [22]:
def invert_dict(input_dict):
    inverted_dict = {}
    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

input_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
print(invert_dict(input_dict))

{1: ['a', 'c'], 2: ['b'], 3: ['d']}